@{
    ViewData["Title"] = "Home Page";
}

<div class=" rcorners1">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Trang chủ</a>
</div>
<div class="item">
    <div>
        <h3 class="item-title">Tra cuu</h3>
        <ul>
            <li class="dropdown-item-text rcorners4 text-green ">
                <a class="nav-link " asp-area="" asp-controller="Home" asp-action="TraCuuPhieuNhap">Tra cuu phieu nhap</a>
            </li>
            <li class="dropdown-item-text rcorners4 text-green">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="TraCuuPhieuXuat">Tra cuu phieu xuat</a>
            </li>
        </ul>
    </div>
    <div>
        <h3 class="item-title">Tao phieu</h3>
        <ul>
            <li class=" dropdown-item-text rcorners4 text-green">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="TaoPhieuNhap">Tao phieu nhap</a>
            </li>
            <li class="dropdown-item-text rcorners4 text-green">
                <a class="nav-link " asp-area="" asp-controller="Home" asp-action="TaoPhieuXuat">Tao phieu xuat</a>
            </li>
            <li class="dropdown-item-text rcorners4 text-green">
                <a class="nav-link " asp-area="" asp-controller="Home" asp-action="ChuyenKho">Xuat chuyen kho</a>
            </li>
            <li class="dropdown-item-text rcorners4 text-green">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Xuat ban cong ty noi bo</a>
            </li>
        </ul>
    </div>
    <div>
        <h3 class="item-title">Bao cao</h3>
        <ul>
            <li class="dropdown-item-text rcorners4 text-green">
                <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Privacy">Xem bao cao</a>
            </li>
        </ul>
    </div>
</div>

