
@{
    ViewData["Title"] = "TraCuuPhieuNhap";
}

    <div class="item">
        <div >
            <div>
                <label class="label-item">Kho xuat</label>
            </div>
            <div>
                <select class="custom-select-sm item-TraCuu">
                    <option selected disabled>Chon kho nhap</option>
                    <option value="kho1">Kho 1</option>
                    <option value="kho2">Kho 2</option>
                </select>
            </div>
        </div>
        <div >
            <div>
                <label class="label-item">Tu Khoa</label>
            </div>
            <div>
                <input class="item-TraCuu" type="text" id="ghichu" name="ghichu" placeholder="">
            </div>
        </div>
        <div>
            <div>
                <label class="label-item">Kho</label>
            </div>
            <div>
                <select class="custom-select-sm item-TraCuu">
                    <option selected disabled>Chon kho nhap</option>
                    <option value="kho1">Kho 1</option>
                    <option value="kho2">Kho 2</option>
                </select>
            </div>
        </div>
        <div>
            <div>
                <label class="label-item">Tu ngay</label>
            </div>
            <div>
                <input class="item-TraCuu" type="text" id="ghichu2" name="ghichu" placeholder="">
            </div>
        </div>
        <div>
            <div>
                <label class="label-item">Den ngay</label>
            </div>
            <div>
                <input class="item-TraCuu" type="text" id="ghichu3" name="ghichu" placeholder="">
            </div>
        </div>
    </div>
    <div class="item">
        <div>
            <div>
                <label class="label-item">Chon hinh thuc </label>
            </div>
            <div>
                <select class="custom-select-sm item-TraCuu">
                    <option selected disabled>Chon kho nhap</option>
                    <option value="kho1">Kho 1</option>
                    <option value="kho2">Kho 2</option>
                </select>
            </div>
        </div>
        <div>
            <div>
                <label class="label-item">Chon hinh thuc </label>
            </div>
            <div>
                <select class="custom-select-sm item-TraCuu">
                    <option selected disabled>Chon kho nhap</option>
                    <option value="kho1">Kho 1</option>
                    <option value="kho2">Kho 2</option>
                </select>
            </div>
        </div>
        <div>
            <a class="button-TimKiem" asp-area="" asp-controller="Home" asp-action="Privacy">Tim kiem</a>
        </div>
    </div>
    <div>
        <table class="content-table">
            <thead>
                <tr>
                    <th style="width: 50px"></th>
                    <th style="width: 150px">Ma phieu nhap</th>
                    <th style="width: 150px">Ngay nhap</th>
                    <th style="width: 200px">Kho nhap</th>
                    <th style="width: 150px">Tong tien</th>
                    <th style="width: 200px">Khach hang</th>
                    <th class="last-item">Trang thai nhap</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td class="last-item">7</td>
                </tr>

            </tbody>
        </table>

    </div>

